{# <!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Document</title>
</head>
<body>
    <h1>{{ website }} index</h1>
</body>
</html> #}

{% extends 'base.html.twig' %}  

{% block body %}
    
    <h1>Bienvenue sur Wild Series</h1>
   
{% endblock %}